.nav-segment-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  padding-inline: 24px;
}

.nav-segment-wrapper .rubber-segment {
  --rs-font: 15px !important;
  --rs-pad: 20px !important;
  min-width: 480px;
}

.nav-segment-wrapper .rubber-segment__item {
  font-weight: 700;
}